body {
  background: url("/img/running.jpg") no-repeat center top fixed;
  background-size: cover;
}

h1 {
  text-align: center;
}

.container {
  margin: 0 auto;
  max-width: 850px;
}

#main-logo {
  width: 200px;
  height: 200px;
  padding: 0;
}

nav {
  padding: 20px 0;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 40px;
  padding: 10px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  transition: all 100ms ease-in-out;
}

nav a:hover {
  color: rgba(255, 255, 255, 0.5);
  transition: all 100ms ease-in-out;
}

nav .hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

nav .results #city,
nav .results #temperature {
  display: flex;
  justify-content: center;
}

div .search-engine {
  background: rgba(255, 255, 255, 0.5);
  padding: 0;
  max-width: 400px;
}

.search-engine h3 {
  color: #bfc22a;
  text-align: center;
  background: #000;
  margin: 0;
  padding: 5px;
}

.option {
  background: rgba(255, 255, 255, 0.8);
  border-color: rgba(255, 255, 255, 0.3);
  padding: 5px;
}

.option:hover {
  background-color: #bfc22a;
  transition: all 100ms ease-in-out;
}

.selected {
  background-color: #c0c22a9e;
}

.form-container {
  text-align: center;
  padding: 0 20px;
}
.form-container input {
  margin-top: 2px;
}

#search-city {
  font-size: 24px;
  font-weight: bold;
}

.hidden {
  display: none;
}

.city {
  margin: 16px;
  font-size: 36px;
}

.activities li {
  font-size: 18px;
  margin: 8px;
}
