body {
  background: url("/img/running.jpg") no-repeat center top fixed;

  background-size: cover;
}

.main-logo {
  width: 100px;
}

.container {
  background: rgba(255, 255, 255, 0.517);
  padding: 3px;
}
.search-engine h3 {
  color: #fff;
  background: #000;
  padding: 5px;
  margin: 1px;
}
